/**
* Buttons styles
**/

.btn-default {
  display: inline-block;
  padding: 5px 30px;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 300;
  background-color: @color-blue;
  border: 1px solid @color-blue;
  border-radius: 0;
  color: #fff;

  &.btn-bordered {
    border: 1px solid #fff;
    border-radius: 2px;
  }
  
  &:focus,
  &:hover {
    background-color: @color-blue-hover;
    color: #fff;
  }

  &.__big {
    display: inline-block !important;
    padding: 14px 25px !important;
    font-size: 14px !important;
    line-height: 14px !important;
    text-transform: uppercase !important;
    font-weight: 300 !important;
    border-radius: 0 !important;
  }
}

.btn-white {
  display: inline-block;
  padding: 14px 25px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 300;

  border: 1px solid #fff;
  border-radius: 0;
  color: #fff;

  &.btn-bordered {
    border: 1px solid #fff;
    border-radius: 2px;
  }

  &:focus,
  &:hover {
    background-color:rgba(255,255,255,.3);
    color: #fff;
  }
}