/**
* Dropdown menu restyling
**/

.navbar-right {
  .dropdown-menu {
    min-width: 220px;
    right: auto;
    left: 0;
    top: 100%;
    border: none;
    box-shadow: none;
    padding: 0;
    border-radius: 0;
    background-color: @color-default;

    &>li {
      &>a {
        display: block;
        padding: 12px 15px;
        color: #fff;
        border-top: 1px solid #444;
        font-size: 13px;

        &:hover,
        &:focus {
          background-color: @color-blue;
          color: #fff;
        }
      }
    }
  }
}