/**
* Header styles
**/

.header {
  background-color: @color-default;
  
  .header_logo {
    float: left;
    margin-left: 10px;
    margin-top: 12px;

    a {
      font-size: 20px;
      font-family: @font-slab;
      font-weight: 300;
      color: #fff;
    }
  }
}