/**
* What people say styles
**/

.testimonials {
  position: relative;
  padding: 60px 0 50px;
  height: 368px;
  background-attachment: scroll;
  background-position: 50% -173.8px;
  -webkit-background-size: cover;
  background-size: cover;

  .testimonials_t {
    margin-bottom: 35px;
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;

    .testimonials_icn {
      text-align: center;
      color: #fff;
      border-radius: 50%;
      border: 1px solid #fff;
      width: 42px;
      height: 40px;
      margin: auto;
      line-height: 40px;
      font-size: 16px;
      display: table;
      margin-bottom: 18px;

      i {
        color: #fff;
      }
    }
  }

  .testimonials_slider {
    text-align: center;
  }

  .testimonials_txt {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 25px;
    padding: 0px 140px;
  }

  .testimonials_author {
    font-size: 12px;
    color: #999;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
  }
}