
/*Basic theme colors*/
@color-default: #2c2c2c;
@color-blue: #059acb;
@color-blue-hover: #036E92;
@color-green: #8bc34a;

/*Fonts color*/
@color-text: #555;

/*Border color*/
@color-border: #eee;

@font-sans: 'Open sans', sans-serif;

body {
  font-family: @font-sans;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -73px;

  &:after {
    content: "";
    display: block;
    height: 73px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1240px;
  }
}

a {
  color: #777;
  -webkit-transition: 0.25s all linear;
  -moz-transition: 0.25s all linear;
  -ms-transition: 0.25s all linear;
  -o-transition: 0.25s all linear;
  transition: 0.25s all linear;

  &:focus,
  &:hover {
    text-decoration: none;
    outline: 0;
  }
}

p {
  font-size: 14px;
  color: @color-text;
  line-height: 22px;
  font-weight: 300;
}

@media (max-width: 767px) {
  a,
  p {
    font-size: 18px;
    line-height: 30px !important;
    font-weight: 300;
  }

  .wrapper {
    margin-bottom: 0;

    &:after {
      height: auto
    }
  }
}